<div class="row">
  <div class='col-sm-12'>
    <div class="row">
      <div class='col-sm-5'>
        <div class="row">
          <div class='col-sm-12'>
            <div class='orbitDiagram' id='diagram'></div>
            <div class='map' id='map'></div>
          </div>
        </div>
      </div>
      <div class='col-sm-7 exposition'>
        <div class="row">
          <div class='col-sm-12'>
            <p>What information would be useful to help you calculate the satellite's speed exactly?</p>
          </div>
        </div>
        <div class="row">
          <div class='col-sm-12'><textarea class="form-control useful-information" rows="3"></textarea></div>
        </div>
        <div class="row">
          <div class='col-sm-12'>
            <button class="btn btn-primary btn-lg col-sm-5 pull-right action-next" disabled="true">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>