<!-- .screen4 -->
<div class="row">
  <div class='col-sm-12'>
    <div class="row">
      <div class='col-sm-5'>
        <div class="row">
          <div class='col-sm-12' id="orbitStatus">
            <span class="toofast">Too Fast</span> | <span class="perfect">Perfect</span> | <span class="tooslow">Too Slow</span>
          </div>
          <div class='col-sm-12'>
            <div class='orbitDiagram' id='diagram'></div>
          </div>
        </div>
      </div>
      <div class='col-sm-7 exposition'>
        <div class="row">
          <div class='col-sm-12'>
            <p>The satellite's altitude is <strong>h</strong> miles.</strong></p>
            <p>The earth rotates one full rotation every <strong>24 hours.</strong></p>
            <p>The diameter of the earth is <strong>7,926 miles.</strong></p>
            <p><strong>Now write an expression to calculate satellite's required speed.</strong></p>
          </div>
        </div>
        <div class="row">
          <div class='col-sm-12'>
            <span class="speed-expression mathquill-editable"></span>
          </div>
        </div>
        <div class="row">
          <div class='col-sm-12'>
            <span class="calculated-speed"><span class="speed"></span> miles per hour</span>
          </div>
        </div>
        <div class="row">
          <div class='col-sm-12'>
            <button class="btn btn-primary btn-lg col-sm-5 pull-right action-next">Next</button>
            <button class="btn btn-success btn-lg col-sm-5 pull-right action-update-speed">Fix it</button>
          </div>
        </div>
        <div class="row">
          <div class='col-sm-12'>
            <small class="pull-right"><em>Feel free to ask your teacher for help.</em></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>