<div class="row">
  <div class='col-sm-12'>
    <div class="row">
      <div class='col-sm-5'>
        <div class="row">
          <div class='col-sm-12' id="orbitStatus">
            <span class="toofast">Too Fast</span> | <span class="perfect">Perfect</span> | <span class="tooslow">Too Slow</span>
          </div>
          <div class='col-sm-12'>
            <div class='orbitDiagram' id='diagram'></div>
          </div>
        </div>
      </div>
      <div class='col-sm-1 altitude-control'>
        <div class="slider"></div>
      </div>
      <div class='col-sm-6 exposition'>
        <div class="row">
          <div class='col-sm-12'>
            <p>Good work.</p>
            <p>However, now your satellite needs to go up and down. Make sure your speed works no matter its altitude.</p>
          </div>
        </div>
        <div class="row">
          <div class='col-sm-12'>
            <strong>Your speed:</strong> {{speed}} miles per hour
          </div>
        </div>
        <div class="row">
          <div class='col-sm-12'>
            <button class="btn btn-primary btn-lg col-sm-5 pull-right action-next">Fix it</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>