<div class="row">
  <div class='col-sm-10 col-sm-offset-1'>
    <div class="row">
      <div class='col-sm-12'>
        <p>A geostationary orbit allows a satellite to remain over the same location constantly—it requires a perfect alignment between the earth's orbit and the satellites speed. Too fast or too slow and the satelitte start to drift.</p>
      </div>
    </div>
    <div class="row">
      <div class='col-sm-12 text-center '>
        <button class="btn btn-primary btn-lg action-next">I'll fix it!</button>
      </div>
    </div>
    <div class="row">
      <div class='col-sm-5 col-sm-offset-1'>
        <h3>Perfect</h3>
        <div class='diagram' id='diagram1'></div>
        <div class='map' id='map1'></div>
      </div>
      <div class='col-sm-5'>
        <h3>Too Slow</h3>
        <div class='diagram' id='diagram2'></div>
        <div class='map' id='map2'></div>
      </div>
    </div>
  </div>
</div>