<div class="row">
  <div class='col-sm-12'>
    <div class="row">
      <div class='col-sm-5'>
        <div class="row">
          <div class='col-sm-12'>
            <div class='orbitDiagram' id='diagram'></div>
          </div>
        </div>
      </div>
      <div class='col-sm-7 exposition'>
        <div class="row">
          <div class='col-sm-12'>
            <p><strong>Draw a graph for us</strong></p>
            <p>What needs to happen for the speed of the satellite as it gets higher from the earth's surface?</p>
          </div>
        </div>
        <div class="row">
          <div class='col-sm-12'>
            <button class="btn btn-primary btn-lg col-sm-5 pull-right action-next">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>