<div class="row">
  <div class='col-sm-12'>
    <div class="row">
      <div class='col-sm-5'>
        <div class="row">
          <div class='col-sm-12' id="orbitStatus">
            <span class="toofast">Too Fast</span> | <span class="perfect">Perfect</span> | <span class="tooslow">Too Slow</span>
          </div>
          <div class='col-sm-12'>
            <div class='orbitDiagram' id='diagram'></div>
            <div class='map' id='map'></div>
          </div>
        </div>
      </div>
      <div class='col-sm-7 exposition'>
        <div class="row">
          <div class='col-sm-12'>
            <p>Guess the satellite's speed so that it stays above the same point at all times.</p>
          </div>
        </div>
        <div class="row form">
          <div class='col-sm-3'><strong>Speed:</strong> </div>
          <div class='col-sm-4'><input class="form-control input-lg col-lg-4" name="speed" type="number" value=""></div>
          <div class='col-sm-5'>miles per hour.</div>
        </div>
        <div class="row">
          <div class='col-sm-12 nav-controls'>
            <button class="btn btn-success btn-lg col-sm-5 pull-right action-update-orbit" disabled="true">Go</button>
            <button class="btn btn-primary btn-lg col-sm-5 pull-right action-next">Next</button>
          </div>
        </div>
        <div class="row">
          <div class='col-sm-12'>
            <div class="pull-right">You have <span class="tries">{{tries}} more tries</span></div>
          </div>
      </div>
    </div>
  </div>
</div>