@import 'nib'
@import '_base'

.header
  text-align: center
  h1
    font-size: 4.5em
    font-weight: 300
    text-transform: uppercase
    letter-spacing: -3px

.footer
  float: right
  margin-right: 20px

.orbitDiagram
    text-align: center

.map
    text-align: center
    min-height: 200px
    width: 100%