#orbitStatus
  color: #D8D8D8
  font-weight: normal
  text-align: center
  font-size: 1.5em
  &.tooslow
    .tooslow
      font-weight: bold
      color: #000
  &.perfect
    .perfect
      font-weight: bold
      color: #000
  &.toofast
    .toofast
      font-weight: bold
      color: #000

.form
  text-align: right
  font-size: 0.9em

.exposition
  font-size: 2em
  .row
    margin-top: 20px

.nav-controls
  .action-next
    display: none
  &.readyForNext
    .action-update-orbit
      display: none
    .action-next
      display: block